//css main
$darkColor: #2c4653;
$lightColor: #e9ddc7;

body {
    margin: 0;
    padding: 0;
    background-color: $lightColor;
    color: $darkColor;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.header__container {
    background: $lightColor;
    max-width: 360px;
}

.section_style {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
    max-width: 650px;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 25px;
}

.survey__container {
    background-color: $darkColor;
    color: white;
    padding: 25px;
}


#submit {
    font-size: 0.9rem;
    padding: 6px 12px;
    width: 50%;
    background: #f6f7f9;
    border: 1px solid #ced0d4;
    color: #4d4f56;
    border-radius: 5px;

    &:active {
        background: #d8dade;
        border-color: #d8dade;
    }

    &:hover {
        background: #e9ebee;
    }
}